@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Luckiest+Guy&family=Nunito&family=Poppins:wght@300;500;600;700;800;900&family=Roboto&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    ---clr-bg1: #dae2d5;

    --clr-bg2: #ffffff;

    /* cool colors */ 
    --clr-Blue: #5865f2;
    --clr-light-white: #f2f3f1;
    --clr-cyan: #01bac6;


    /* font colors */ 
    --clr-dark-green: #8f957c;
    --clr-dark-green-darker: #71765f;
    --clr-dark-red: #800020;
    --clr-dark-blue: #007cb2;
    --clr-teal-green: #326872;


    --clr-black: black;
    --clr-white: white; 


    /*color grey */
    --clr-grey-1:#9d9d9d;
    

    /* button colors */ 
    --clr-crimson: #DF362D;


    /* numbers */
    --nav-font-size: 15px; 
    --margin-padding: 10px;

    --content-holder-margin: 30px;
    --contact-padding: 20px; 

    --About_Section-padding: 10px;

    --about-padding: 30px;
    --card-padding: 20px;

}

body{
    background-color: var(--clr-bg2);
}



.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(---clr-bg1);
    font-size: var(--nav-font-size);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--clr-black);
}


/* nav - bar */ 
.list{
    display: inline-block;
    background-color: transparent;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    font-size: var(--nav-font-size);
}

.link{
    color: var(--clr-black);
    text-decoration: none;
}


/* Home-Cover */ 



/* overall design */ 
.Home-Cover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;

    text-align: center;


    height: 90vh;
    background-color: var(---clr-bg1);
}

.Home-Cover .Title{
    font-family: 'Poppins';
    font-size: 6vw;
    font-weight: bold;
    color: var(--clr-black);
}

.Logo{
    width: 100%;
    border-radius: 8px;

    cursor: pointer;
}


.Home-Cover .Info{
    font-family: 'Poppins';
    font-size: 1.7vw;
    font-weight: 300;
    color: var(--clr-black);
}









.A-tag-home{
    color: var(--clr-black);


    text-decoration: none;
}



/* Content for about us */ 
.Content-holder{
    margin-top: var(--content-holder-margin); 
    margin-bottom: var(--content-holder-margin); 

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-bg2);


} 

.About-Section{

    width: 65%;


    display: flex;
    flex-direction: column;
    gap: 1em;

    text-align: left;

    background-color: transparent;
}


.Grid-Sections{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.About-Section-Special{

    width: 65%;


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    text-align: left;

    background-color: transparent;
}


/* special sections for the about-section */ 
.Border-Bottom{
    padding-bottom: 20px;
    border-bottom: 3px solid var(--clr-grey-1);
}

.Special-Alignment{
    text-align: center;
}


.Special-Section{
    text-align: right;
}

.Special-Section-Padding{
    font-family: 'Poppins';
    font-size: 2vw;

    color: var(--clr-black);
}

.Special-Color-1{
    font-family: 'Poppins';
    font-size: 2vw;
    font-weight: 500;

    padding-bottom: var(--About_Section-padding);

    color: var(--clr-teal-green);
    opacity: 0.7;
}

.Special-Info{
    font-family: 'Poppins';
    font-size: 1.3vw;
    font-weight: 300;
    color: var(--clr-black);
}



/* -------------------------------------- */ 

.About-Section .Section{
    

    font-family: 'Poppins';
    font-size: 2vw;
    font-weight: 500;

    padding-bottom: var(--About_Section-padding);

    color: var(--clr-black);
    opacity: 0.7;


}

.About-Section .Info{


    font-family: 'Poppins';
    font-size: 1.3vw;
    font-weight: 300;

    color: var(--clr-black);

}



/* modifying cards */ 


/* contact card */ 

.crd-5{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    width: 60%;

    gap: 1em;

    background-color:var(--clr-light-white);

    border-radius: 10px;
    padding: var(--contact-padding);

    cursor: pointer;
}


/* icons for contact card */ 
.social-media-list{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.Social-Icons{
    cursor: pointer;

    color: var(--clr-black);

    font-size: 1.8vw;
}



/* --------- */ 

.Info-Special{

    font-family: 'Poppins';
    font-size: 2.1vw;
    font-weight: 300;

    color: var(--clr-black);
}


.about-cards{
    width: 80%;


    background-color: transparent;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    place-items: center;

    padding: 10px;
}


.card{
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 0.5em;

    background-color: var(--clr-light-white);

    border-radius: 10px;

    padding: var(--card-padding);

    cursor: pointer;

}

.card-icons{ 
    font-size: 2.5vw;
}

.card-title{
    text-align: center;
    font-size: 1.5vw;

    font-family: 'Poppins';
    font-weight: 300;
}

.basic-info{
    text-align: center;

    font-size: 1.3vw;

    font-family: 'Poppins';
    font-weight: 300;
}



/* animations */ 

/* changing the background of the button */ 
.Buttons:hover{
    background-color: var(--clr-black);

    border-radius: 3px;
}

/* hovering the color of the button */ 
.Buttons:hover .A-tag-home{
    color: var(--clr-white);
}

/* when clicked social media icons */ 
.Social-Icons:active{
    transform: translateY(2px);
}


/* navigation bar list color white */ 
.list:hover .link{
    animation: ease-in;
    transition: 0.2s;
    color: var(--clr-dark-brown);
}


.card:hover{
    transition: 0.1s ease-in;
    transform: translateY(3px);
}

@media screen and (max-width: 1000px) {
    body{
        background-color: transparent;
    }

    .Home-Cover .Title{
        font-size: 5.5vw;
    }

    .Home-Cover .Info{
        font-size: 2.3vw;
    }

    .About-Section{
        width: 90%;
    }

    .About-Section  .Section{
        font-size: 2.5vw;
    }

    .About-Section  .Info{
        font-size: 2vw;
    }

    .Info-Special{
        font-size: 2.5vw;
    }

    .about-cards{
        width: 90%;
    }
}



@media screen and (max-width: 800px) {
    body{
        background-color: transparent;
    }

    .Name{
        font-size: 2.3vw;
    }

    .list{
        font-size: 2.3vw;
    }

    .Logo{
        width: 100%;
    }

    .Home-Cover .Title{
        font-size: 6.5vw;
    }

    .Home-Cover .Info{
        font-size: 3vw;
    }

    .About-Section{
        width: 90%;
    }

    .About-Section  .Section{
        font-size: 2.5vw;
    }

    .About-Section  .Info{
        font-size: 2vw;
    }

    .Info-Special{
        font-size: 2.5vw;
    }

    .about-cards{
        width: 50%;


        background-color: transparent;
    
    
        display: flex;
        flex-direction: column;
        gap: 1em;
    
        place-items: center;
    
        padding: 10px;

    }

    .card-title{
        font-size: 2.5vw;
    }

    .basic-info{
        font-size: 1.8vw;
    }


}





@media screen and (max-width: 500px) {
    body{
        background-color: transparent;
    }

    .Name{
        font-size: 2.8vw;
    }

    .list{
        font-size: 2.8vw;
    }

    .Logo{
        width: 100%;
    }

    .Home-Cover .Title{
        font-size: 7.5vw;
    }

    .Home-Cover .Info{
        font-size: 3.5vw;
    }

    .About-Section{
        width: 90%;
    }

    .About-Section  .Section{
        font-size: 4.5vw;
    }

    .About-Section  .Info{
        font-size: 3vw;
    }

    .Info-Special{
        font-size: 4.5vw;
    }

    .about-cards{
        width: 70%;


        background-color: transparent;
    
    
        display: flex;
        flex-direction: column;
        gap: 1em;
    
        place-items: center;
    
        padding: 10px;

    }

    .card-title{
        font-size: 4vw;
    }

    .basic-info{
        font-size: 3vw;
    }


}
