@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    background-color:var(---clr-bg-clr);
    height: 105vh;
    background: linear-gradient(90deg, var(---clr-bg1) 40%, var(---clr-bg2) 40%);


}

:root{

    ---clr-bg1: #263337;
    ---clr-bg2: #3C434E;



    --clr-white: #ffffff;
    --clr-grey: #808080;
    --clr-dark-blue: #31697e;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--clr-white);
    font-size: 15px;
}

.list{
    display: inline-block;
    background-color: transparent;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    font-size: 14px;
}

.page-title{
    text-decoration: none;
    color: var(--clr-white);
}

.contact-btn{
    text-decoration: none;
    color: var(--clr-white);
    border: 2px solid var(--clr-white);
    padding: 10px;
    border: 2px solid var(--clr-white);
    border-radius: 5px;
    transition: .3s;
}




.information-container{
    background-color: transparent;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}




.card{
    padding: 50px;
    height: 500px;
    width: 400px;
}

.crd1{
    position: relative;
    background-color: #323c3f;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.my_img{
    width: 100%;
    border-radius: 5px;
}

.Name{
    font-family: 'Poppins';
    color: var(--clr-grey);
    font-size: 20px;

}

.icon{
    color: grey;
    text-decoration: none;
    font-style: normal;
}

.icons{
    position: absolute;
    background-color: #30383a;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
    padding: 50px;
    text-align: center; */
}

.icons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
    gap: 3em;
}



.crd2{
    height: 500px;
    width: 460px;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.holder2{
    color: var(--clr-white);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}

.welcome{
    background-color: transparent;
    display: flex;
    align-items: center;
    color: var(--clr-dark-blue);
    font-size: 45px;
    font-family: 'Poppins';
}


.context{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--clr-grey);
    font-family: 'Poppins';

}

.info{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--clr-grey);
    font-family: 'Poppins';

}


@media screen and (max-width: 980px) {
    .information-container{
        background-color: transparent;
        height: 130vh;
    }


    .container{
        width: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }

    .crd2{
        background-color: transparent;
        width: 730px;
        height: 400px;
        position: relative;
    }

    .holder2{
        position: absolute;
        background-color: transparent;
        margin-top: 20px;
        top: 0;
    }

    .context{
        background-color: transparent;
        text-align: center;
        padding: 5px;
    }

    .info{
        background-color: transparent;
        text-align: center;
        padding: 5px;
    }
  }